# dependencies
node_modules

# Next.js build output
.next
out
next-env.d.ts
*.tsbuildinfo

# env files (keep .env.example)
.env
.env*.local

# Vercel
.vercel

# logs & OS files
*.log
.DS_Store
Thumbs.db
